@import url('https://fonts.googleapis.com/css2?family=Playwrite+DE+SAS:wght@100..400&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');
#loadingOverlay {
    /*as linhas abaixo garantem que o elemento ocupe 100% do espaço da tela*/
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    /*fundo branco semi-transparente*/
    background-color: rgba(255, 255, 255, 0.8);
    /*posiciona o spinner acima de todos os outros elementos html*/
    z-index: 9999;
}

.spinner-border {
    /*aumenta o tamanho do spinner*/
    width: 100px;
    height: 100px;
}

body {
    background-color: violet;
}
h1 {
    font-family: "Playwrite DE SAS", cursive;
}

input[type="text"], select {
    background-color:mediumvioletred !important;
    border: 1px solid purple !important;
    color:black !important;
}

input[type="text"]::placeholder {
    color:black;
}
label {
    color:indigo;
}